* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(204, 204, 204);
}

button:hover {
    cursor: pointer;
}


header {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    width: 100%;
}

header h1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}

header p {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

.library-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
}

.library-container #bookTable {
    table-layout: fixed;
    border-collapse: collapse;
    letter-spacing: 1px;
    margin-bottom: 40px;
    min-width: 800px;
}

.library-container #bookTable thead th {
    padding: 10px 10px 15px 10px;
    border-bottom: 2px solid;
    font-size: 25px;
}

.library-container #bookTable thead th:nth-child(1){
    width: 20%;
}

.library-container #bookTable thead th:nth-child(2){
    width: 15%;
}

.library-container #bookTable thead th:nth-child(3){
    width: 10%;
}

.library-container #bookTable thead th:nth-child(4){
    width: 10%;
}

.library-container #bookTable thead th:nth-child(5){
    width: 10%;
}


.library-container #bookTable tbody td {
    padding: 30px;
    border-bottom: 1px solid;
    text-align: center;
    border-right: 1px solid;
    font-size: 20px;
}


.library-container #bookTable tbody button {
    display: flex;
    padding: 10px;
    width: 100px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.library-container #bookTable tbody button i {
    margin-right: 10px;
}

.btns {
    display: flex;
    padding: 20px;
}

.btns button {
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    width: 200px;
}

.btns button i {
    margin-right: 15px;
}

.btns button:first-child {
    margin-right: 40px;
}


.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-container.active {
    opacity: 1;
    pointer-events: all;
}


.modal {
    background-color: aqua;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.modal .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    padding: 10px;

}

.modal .modal-header button {
    position: absolute;
    right: 20px;
    padding: 5px;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.modal #myForm {
    padding: 15px;
    font-size: 30px;
}

.modal #myForm div:not(.isCompleted) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal #myForm div:not(.isCompleted, .btn) input {
    margin-left: 20px;
    font-size: 25px;
    margin-top: 3px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.modal #myForm div:not(.btn) {
    margin-bottom: 20px;
}

.modal #myForm div:nth-child(4) {
    display: flex;
    align-items: center;
}

.modal #myForm div:nth-child(4) input {
    margin-left: 15px;
    height: 20px;
    width: 20px;
    margin-top: 2px;
}

.modal #myForm div:last-child {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.modal #myForm div:last-child input {
    padding: 10px 25px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.modal #myForm div:last-child input:hover {
    cursor: pointer;
}